body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; /* Light background for contrast */
    color: #363636; /* Darker text for readability */
    text-align: center;
}

.greeting-card {
    background-color: #fff; /* Pure white for the card */
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: auto;
    width: 50%;
}

h1 {
    color: #d32f2f; /* Rich red for the header */
}

p {
    color: #388e3c; /* Deep green for the text */
}

.snowflake {
    color: #fff;
    font-size: 1em;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.7;
    animation-name: fall;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

.light {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.animated-character {
    width: 100px; /* Adjust size as needed */
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

/* Specific styles for each character if needed */
#santa { /* Santa specific styles */ }
#jesus { /* Jesus specific styles */ }




